# Auto detect text files and perform LF normalization
* text=auto


### 2024-02-06

Today I am attempting to finish up my web portfolio.

I chose to create this portfolio simply using HTML and CSS
in unison. I will attempt a better portfolio in the future
using JavaScript and maybe Tailwind CSS.

The colorscheme, font type, and other aspects of the portfolio 
itself are all inspired by a book I finsihed reading not to 
long ago. The book in question is called "Project Hail Mary",
written by Andy Weir. Its cover and the vibe of the Sci-Fi 
story itself are what carried the creative thinking behind
the portfolio.

I hope to keep track of the mistakes I make when writing this
to later correct them and myself. It should do me some good
to trail and error the creation of this website.
