.headerStyling, .pageIntroduction {
    background-color:#D9B99B;
    color:#A52A2A;
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:link {
  color: #A52A2A;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #6a760c;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #A52A2A;
  background-color: transparent;
  text-decoration: underline;
  cursor: ;
}

#webpageLogo {
  color:#542a0e;
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
}

.nailedsetsLogo {
  mix-blend-mode: multiply;
  height: 78px;
  width: 96px;
}

#aprilsPortrait {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 400px;
  width: 322px;
}