* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', sans-serif;
}

body {
    margin: 14px;
    padding: 14px;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 72px;
    min-height: 100vh;
    background-color: #FFB532;
    background-image: linear-gradient(to bottom right, #FFB532,#C28820,
    #5A3D06,#000000);
=======
    min-height: 100vh;
    background-color: #FFB532;
    background-image: linear-gradient(to bottom right,
    #FFB532,#C28820, #5A3D06,#000000);
>>>>>>> a2a024a84b2c7cd87aa466bf83bbc1b8d5e5f447
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
<<<<<<< HEAD
    width: 100%;  
}
=======
    width: 100%;
}  
>>>>>>> a2a024a84b2c7cd87aa466bf83bbc1b8d5e5f447
