* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', sans-serif;
}

body {
    margin: 14px;
    padding: 14px;
    display: flex;
    align-content: center;
    justify-content: center;
    box-sizing: 100vh;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    
}